@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.preview{
    background-image: linear-gradient(rgba(23, 34, 52, 0.3), rgba(23, 34, 52, 0.5)), url('../img/image 60.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    color: #FFFFFF;
}

.preview{
    height: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preview__title{
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 10px;
}

.preview__text{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    padding: 0 250px;
    margin-bottom: 30px;
}
@media screen and (max-width: 1200px) {
    .preview__title{
        font-size: 56px;
    }
    .preview__text{
        padding: 0 100px;
    }

}

@media screen and (max-width: 550px) {
    .preview__title{
        font-size: 34px;
        line-height: 42px;
    }
    .preview__text{
        padding: 0 50px;
        font-size: 20px;
        line-height: 26px;
    }

}



.preview__btn{
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 20px;
    width: 160px;
    height: 54px;
    border-radius: 8px;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.deals{
    margin: 50px 80px 0 80px;
}

@media screen and (max-width: 550px) {
    .deals{
        margin: 50px 20px 0 20px;
    }
}
.deals p{
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #B29F7E;
    margin: 0;
    margin-bottom: 20px;
}

.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

